<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622500055950-iein32hkrfo0rj2136p8salv7m39g3qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622500055950-iein32hkrfo0rj2136p8salv7m39g3qm</string>
	<key>API_KEY</key>
	<string>AIzaSyAnFSTzKUowSCPwMq-Dfpx0cd5gls-WFWM</string>
	<key>GCM_SENDER_ID</key>
	<string>622500055950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webAdminIsef.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>isef-68b63</string>
	<key>STORAGE_BUCKET</key>
	<string>isef-68b63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622500055950:ios:630f33b774589f96dd32df</string>
</dict>
</plist>